<section class="flex-auto m-3">
  <div class="card h-100 d-flex flex-center">
    <div class="card-body">
      <%= tag.h3 t("anonymous_authorization.flash.invalid_resource"), class: "text-align-center mb-4" %>
      <%= tag.div t("anonymous_authorization.flash.ensure_valid_resource_url"), class: "text-align-center text-wrap" %>
    </div>
  </div>
</section>
