<div class="row mt-2">
  <div class="col-12">
    <div class="card">
      <div class="card-body" style="min-height: 80vh; display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <%= tag.h5 "无效资源", class: "mb-4" %>
        <p>请获取正确资源链接</p>
      </div>
    </div>
  </div>
</div>
